
#版本号
version: '3'
services:

  mysql:
    image: mysql:5.7
    volumes:
       - "./mysql/data:/var/lib/mysql"
       - "./mysql/my.cnf:/etc/my.cnf"
    ports: 
       - "3333:3306"
    networks:
       - "backend"
    environment:
       MYSQL_ROOT_PASSWORD: 123456
       MYSQL_DATABASE: testdb
       MYSQL_USER: test
       MYSQL_PASSWORD: 123456
    container_name: "mysql"
  php:
   depends_on:
       - "mysql"
   build: ./php
   ports:
       -  "9000"
   networks:
       - "frontend"
       - "backend"
   links:
       - "mysql"
   volumes:
       - "./php/php-fpm.conf:/usr/local/etc/php/php-fpm.conf"
       - "./php/www.conf:/usr/local/etc/php/conf.d/www.conf"
       - "./php/php.ini:/usr/local/etc/php/php.ini"
       - "./php/log/php-fpm.log:/usr/local/php/var/log/php-fpm.log"
       - "./web:/usr/share/nginx/html"
   restart: always
   container_name: "php"
  nginx:
   depends_on:
       - "php"
   volumes:
       - "./web:/usr/share/nginx/html"
       - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
       - "./nginx/conf.d:/etc/nginx/conf.d"
       - "./nginx/log/error.log:/var/log/nginx/error.log"
   restart: always
   image: nginx:latest
   links:
       - "php"
   ports: 
       - "80:80"
   networks:
       - "frontend"
   container_name: "nginx"
networks:
  frontend:
  backend:
